*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  height: 100vh;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 354px;
}
input,
button {
  box-sizing: border-box;
}
input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
  border: 1px solid #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}
input:hover,
input:focus {
  border: 1px solid #000;
}
input:active {
  border: 1px solid #4e75ff;
}
input:disabled {
  border: 1px solid #808080;
  background: #fafafa;
  color: #808080;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 74px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4e75ff;
  color: #fff;
  cursor: pointer;
}
button:hover,
button:focus {
  background: #6c8cff;
}
button:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}
.timer {
  margin-top: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #2e2f42;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
.label {
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

